@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        ;}

.header {
    width: 100%;
    height: 100vh;
    background-color: rgb(52, 13, 13);
}

nav {
    width: 100%;
    position: fixed;
    background-color: rgb(47, 9, 9);
    height: 80px;
    padding: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

nav h1 {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

ul a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 2.5px;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(245, 245, 245);
    color: black;
}
#Home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 230px 10px;
    align-items: center;
}

#Home h1 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: orange;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#Home h2 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#Home p {
    color: #ffff;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: justify;

}

#Home img {
    height: 500px;
}
button{
padding: 10px 15px;
font-size: 20px;
font-weight: 600;
border-radius: 20px;
margin-bottom: 20px;
background-color: transparent;
border: 1px solid #fff;
color: #fff;
margin: 2px;
}
button:hover{
    background-color: orange;
    color: #fff;
}
button.Active{
    background-color: orange;
}
#About{
    padding: 34px 25px;
}
.About-Content{
    width: 100%;
    height: 600px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content{
    width: 650px;
    color: orange;
}
.text-content h1{
    text-decoration: underline;
    font-family: Arial;
font-size: 1.6rem;
text-align: center;
margin-bottom: 20px;
font-weight: 800;
font-size: 2.5rem;
}
.text-content p{
    line-height: 30px;
    padding:  20px;
font-size: 1.1rem;
text-align: center;
margin-bottom: 20px;
letter-spacing: 2.5px;
color: black;
}
.About-Content img{
    height: 380px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}
/* //meu section/ */
#Menu{
    padding: 34px 30px;
    top: 0px; width: 100%;
    height: 100vh;
    background-color: black;
}
#Menu h1{
    text-align: center;
    font-size: 2.5rem;
    color: orange;
    margin-bottom: 60px;
}
#Menu .Menu-content{
    padding: 34px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
gap: 40px 40px; 
}
.Menu-content img{
    width: 200px;
}
.Menu-content-text h2{
    color: #ffae00;
    margin-bottom: 10px;


}
.Menu-content-text,p{
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;

}
#Gallery{
    padding: 50px 30px 100px;
}
#Gallery h1{
    font-size: 2.5rem;
    text-align: center;
    color: orange;
    margin-bottom: 40px;
}
.Gallery-content{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 60px;
    justify-content: space-between;

    
}
.line{
    width: 150px;
    height: 5px;
    background-color: #ffae00;
    border-radius: 5px;
    margin: 0 auto;
}
#Gallery .images img{
    width: 355px;
    border-radius: 10px;
    cursor: zoom-in;
    transition: 0.3 ease;
}
/* #Gallery .images{
    transform: scale(1.2);
} */
/* contact content */
#Contact{
    padding: 34px 30px;
    background-color: rgb(253, 247, 235);
    width: 100%;
    height: 800px;
}
#Contact h1{
    font-size: 2.5rem;
    text-align: center;
    color: orange;
    margin-bottom: 150px;
}
.Contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Contact-content form{
    display: flex;
    flex-direction: column;
}
.Contact-content input ,textarea{
    padding: 20px ;
    margin-bottom: 20px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    border: non;
}
.Contact-content input ,textarea::placeholder{
    font-size: 1.1rem;
}

.Contact-content h2{
    font-family: sans-serif;
    color: #666;
    font-size: 1.2rem;
    margin: 35px;
}

.btn button{
    width: 150px;
    padding: 15px 10px;
    font-size: 1.2rem;
    background-color: rgba(77, 5, 5, 0.705);
   
   
}
.btn button:hover{
 background-color: #ffae00;
 cursor: pointer;
}
footer{
    background-color: black;
    width: 100%;
    height: 80px;
    
}
.text{
    padding: 20px 25px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.text h2{
    font-size: 1.2rem;
    font-weight: 400;
}
a{
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 400;
}
@media only screen and (max-width:600px) {
    navbar{
        padding: 0;
    }
    nav h1{
        position: absolute;
        left: 30px;
        top: 30px;
    }
    nav ul {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgb(67, 67, 133);
        margin-top: -900px;
        transition: all 0.5s ease;
        border-bottom-right-radius: 30%;
    
    }
}

/* .Menu-content{
    height: 150px;
}
.Menu-Content{
 width: 100% ;
 height: 100vh;
 background-color: black;
 display: flex;
 flex-direction: column;
}
#Menu h1{
    color: #fff;
    text-decoration: underline;
    font-family: Arial;
font-size: 1.6rem;
text-align: center;
margin-bottom: 80px;
font-size: 2.5rem;
}
.text-cont{
    text-align: center;
}
.text-cont h2{
    color: #ffff;
    font-size: 1.9rem;
    margin-bottom: 12px;
    text-align: center;
}
.text-cont p{
    color: #ffff;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    text-align: center;

} */
